
.scrollpy:not(.ignore) {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 4rem;
}
.ignored {
    margin-bottom: 3rem;
}

.scrollpy-1 {
    background-image: url('../public/haikei.svg');
}
.scrollpy-1 div {
    font-size: 1rem;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
}
.scrollpy-1 div h1 {
    letter-spacing: 0.6rem;
}
.scrollpy-1 div span {
    display: inline-block;
    font-size: 1.5rem;
    animation: color-changing 3s linear infinite;
}
@keyframes color-changing {
    0%{
        color: #fff;
    }
    33%{
        color: #ff9681;
    }
    66%{
        color: #9592a6;
    }
    100%{
        color: #fff;
    }
}
.scrollpy-1 div span:hover {
    animation: dicky 500ms linear infinite;
    cursor: pointer;
    color: #fff;
}
@keyframes dicky {
    0%{
        transform: translateX(-6px);}
    20%{transform: translate(5px, 0);}
    30%{transform: translate(-4px, 0);}
    60%{transform: translate(3px, 0);}
    100%{transform: translate(-1px, 0);}
    
    
}
.scrollpy-1  a {
    opacity: 0.5;
    font-size: 13rem;
    text-decoration: none;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.scrollpy-1  a:hover {
    opacity: 1;
    transition: all 500ms;
}

.scrollpy > h1 {
    text-align: center;
    font-size: 3rem;
    /* background: linear-gradient(132deg, var(--clr-flower), var(--clr-active)); */
    background-image: url('../public/haikei.svg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 
.scrollpy-2 div {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
}
.scrollpy-3 div {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
}
.scrollpy div > div > h2, p {
    text-align: center;
}
.scrollpy div > div > h2 {
    font-size: 2.5rem;
    
}
.scrollpy div > div > h3:not(.ignore) {
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    margin-bottom: 5rem;
    
}
.scrollpy div > div > h3 > span {
    display: inline-block;
    animation: color-changing 3s linear infinite;
}
.scrollpy div > div > h3 > span:hover {
    animation: dicky 500ms linear infinite;
    cursor: pointer;
}
.scrollpy div > div > p {
    font-size: 1.3rem;
    opacity: 0.3;
    
}
.scrollpy-2 div > div > p {
    color: #ff9681;
}
.scrollpy-3 div > div > p {
    color: #9592a6;
}
@media (min-width: 700px) {
    /* Estilos a aplicar si el ancho es mayor a 800 píxeles */
    .scrollpy-2 div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scrollpy-2 div > div {
        flex-direction: column;
    }
    .scrollpy-3 div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scrollpy-3 div > div {
        flex-direction: column;
    }
  }

.scrollpy-4 {
    background-image: url('../public/haikei.svg');
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--gradient-2);
  }
  
  /* Style the thumb (the part of the scrollbar the user can interact with) */
  ::-webkit-scrollbar-thumb {
    background: var(--gradient);
    border-radius: 10px;
    /* height: 10px; */
  }
.ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--gradient);
    border-radius: 50%;

}
.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vmin;
    margin-bottom: 7vmin;
}
.contact-form > h1 {
    background-image: url('../public/haikei.svg');
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3vmin;
}
.contact-form > input {
    background-image: url('../public/haikei.svg');
    border: 0;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.click:hover {
    cursor: pointer;
}