
:root {
  --clr-bg: #ffffff;
  --clr-font: #0b0b0b;
  --clr-clear: #fff0e7;
  --clr-active: #9592a6;
  --clr-flower: #ff9681;
  --font-bold: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--clr-bg);
  font-family: var(--font-bold);
  font-size: 4vmin;
}

nav {
  /* width: 100vw; */
  display: flex;
  padding: 5vmin;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
nav div {
  font-size: 2rem;
  align-self: center;
}
nav h2 {
  font-size: 1.5rem;
  line-height: 0.8rem;
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  border: 0.2rem black solid;
  padding: 0.8rem;
  border-radius: 50%;
}
nav h2:hover {
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
  cursor: pointer;
}
.redirects {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 50vh;
  color: var(--clr-active);
  justify-content: center;
  align-items: center;
  line-height: 4rem;
  font-size: 3rem;
}

#text {
  padding: 3vmin;
}
.line {
  display: block;
  color: var(--clr-font);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  cursor: pointer;
}
.extra {
  padding: 3vmin;
}
#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy:hover > .letter:nth-child(n) {
  display: inline-block;
  transform: translate(-1%, 10%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
}
.fancy:hover > .letter:nth-child(n+6) {
  display: inline-block;
  transform: translate(-10%, 10%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
  /* -webkit-background-clip: text; */

  
}
.fancy:hover > .letter:nth-child(2n+5) {
  display: inline-block;
  transform: translate(-5%, 5%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
}
.fancy:hover > .letter:nth-child(3n+1) {
  display: inline-block;
  transform: translate(6%, -15%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
}
.letter {
  border-radius: 3px 10px 2px 24px;
}
.menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 3rem;
  line-height: 5rem;
  background: linear-gradient(132deg, var(--clr-flower), var(--clr-active));
}

.menu h2 {
  font-size: 1.5rem;
  line-height: 0.8rem;
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  border: 0.2rem black solid;
  padding: 0.8rem;
  border-radius: 50%;
 
}
.menu h2:hover {
  cursor: pointer;
  background: linear-gradient(132deg, var(--clr-bg), #e1e1e1);
}
.menu:has(.fancy2:hover) .word:not(.fancy2:hover) {
  opacity: 0.2;
}
.fancy2:hover {
  cursor: pointer;
}
.fancy2:hover > .letter:nth-child(n) {
  display: inline-block;
  transform: translate(-1%, 10%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-bg), #e1e1e1);
}
.fancy2:hover > .letter:nth-child(n+6) {
  display: inline-block;
  transform: translate(-10%, 10%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-bg), #e1e1e1);
  /* -webkit-background-clip: text; */

  
}
.fancy2:hover > .letter:nth-child(2n+5) {
  display: inline-block;
  transform: translate(-5%, 5%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-bg), #e1e1e1);
}
.fancy2:hover > .letter:nth-child(3n+1) {
  display: inline-block;
  transform: translate(6%, -15%);
  transition: transform 300ms;
  background: linear-gradient(132deg, var(--clr-bg), #e1e1e1);
}